:root {
  --branding-color: #5bc2c2;
  --default-font-family: "Roboto Slab", serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }

  img {
    max-width: 350px;
  }
}

h1 {
  color: pink;
  font-family: var(--default-font-family);
  text-align: center;
  padding-top: 40px;
}

h2 {
  color: darkmagenta;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

.about-image {
  border-radius: 20px;
}

.btn-branding {
  background-color: var(--branding-color);
  font-family: var(--default-font-family);
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.container {
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: var(--branding-color);
}

.navbar {
  font-family: var(--default-font-family);
}
